 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


body
{
    background-image: url("../static/imagens/wallpaper-1080.png");
    background-attachment: fixed;
}
#cont
{
    padding: 1.5rem;
}
main{
    padding: 1rem;
    width: 600px;
    height: auto;
    margin: auto;
    align-items: center;
    border-radius: 10px;
    background-color: #36393F;
    box-shadow: 4px black;

}

h1
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 1rem;
}

h2
{
    font-family: 'Bitter', serif;
}

p
{
    font-family: 'Rubik', 'calibri', sans-serif;
}

h3
{
    font-family: 'Rubik', 'calibri', sans-serif;
}

input
{
    display: grid;
    color: white;
    background-color: gray;
}

ul
{
    list-style: none;
}

li
{
    font-family: 'Rubik', 'calibri', sans-serif;
    font-weight: bold;
}
#study
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 10px;
    width: 450px;
}
img
{
    margin: 1rem;
}

nav
{
    background-color: #2E6171;
    height: 100px;
    width: 100%;
}

nav ul
{
    float: right;
    margin-right: 20px;
}

nav ul li{
    text-align: center;
    align-items: center;
    padding-top: 40px;
    line-height: 80px;
    display: inline-block;
    margin: 0 500px;
}

#logo {
    padding: 20px;
    padding-left: 100px;
    width: 100px;
    height: 100px;
    margin-top: 25px;
}


#his{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.content-table
{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 400px;
}

thead
{
    border-radius: 10px;
    background-color: #2E6171;
    color: white;
    text-align: left;
    font-weight: bold;
}
th, td
{
    padding: 12px 15px;
}

tbody tr
{
    border-bottom: 1px solid black;
}
