{% extends "base9.0.html" %}

{% block title %}
    Results      
{% endblock %}

{% block body %}
            <main>
                
                <div id="estudo">
            <h3>Study of the quadratic function</h3>
            <div>
                <p id="ex">Your quadratic function will look like: </p>
            </div>
            <div id="teste">
                    <p>a é {{ a }}</p>
                    <p>b é {{ b }}</p>
                    <p>c é {{ c }}</p>
                    <p id="res">Valores de x1 e x2: </p>
            </div>
            <ul>
               <li><p id="sa">a é</p></li>
               <li><p id="sb">b é</p></li>
                <li><p id="sc">c é</p></li>
                <li><p id="xv">Xv é</p></li>
                <li><p id="yv">Yv é</p></li>
                <li><p id="except">The graph image is like this:</p></li>
            </ul>
    <div id="imagem">
        
    </div>
            </main>
            <script src="../static/resul9.0.js"></script>
{% endblock %}